:root {
    --verde: #48d0b0;
    --verde-claro: #77dfc7;
    --verde-escuro: #049b78;
    --vermelho: #dd3131;
    --vermelho-claro: #eb5858;
    --vermelho-escuro: #b62121;
    --water: #675fee;
    --bug: #a8b720;
    --grass: #77c850;
    --eletric: #f7cf2e;
    --ice: #98d5d7;
    --ground: #dfbf69;
    --flying: #a98ff0;
    --poison: #a040a0;
    --fighting: #bf3029;
    --psychic: #f65687;
    --dark: #725847;
    --normal: #a6a877;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
}

.body-light {
    background-color: white;
}

.h1-light {
    color: #141414;
}
h1 {
    margin: 0;
    color: white;
}
.content {
    padding: 1rem;
    width: 100vw;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.night-mode {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(22, 22, 22);
}

.light-mode {
    border: 1px solid rgb(22, 22, 22);
    background-color: white;
}

.material-symbols-rounded {
    color: white;
}

.moon-light {
    color: rgb(22, 22, 22);
}

.lista-pokemons {
    margin: 0;
    padding: 0;

    margin-top: 1rem;

    list-style: none;

    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    background-color: var(--verde);
    color: white;

    margin: 0.5rem;
    padding: 1.5rem 1rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nome {
    text-transform: capitalize;
    font-weight: 600;
}

.electric {
    background-color: var(--eletric);
}

.psychic {
    background-color: var(--psychic);
}

.dark {
    background-color: var(--dark);
}

.ice {
    background-color: var(--ice);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.fighting {
    background-color: var(--fighting);
}

.fire {
    background-color: var(--vermelho-escuro);
}

.water {
    background-color: var(--water);
}

.bug {
    background-color: var(--bug);
}

.grass {
    background-color: var(--grass);
}

.normal {
    background-color: var(--normal);
}

.identificacao {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    justify-content: space-between;
}

.numero {
    color: black;
    opacity: 0.3;
    text-align: left;
}
.detalhe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detalhe img {
    max-width: 100%;
    width: 3.5rem;
}

.tipo {
    margin: 0;
    padding: 0;
    list-style: none;

    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    margin-block: 0.25rem;
}

.pokemon:hover {
    filter: contrast(1.3);
}

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#load-more {
    border-radius: 1rem;
    background-color: var(--poison);
    border: none;
    color: white;
    padding: 0.5rem;
}

#load-more:hover {
    filter: contrast(1.3);
}

@media screen and (min-width: 321px) {
    .lista-pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 490px) {
    .lista-pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
    }

    .lista-pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
